

.container body{

    background-color: white;
}

.container{

position: relative;
margin-top:50px;
left: 0;
width:98%;
word-wrap: break-word;
padding: 10px 10px 10px 10px;
display: grid;
grid-template-columns: auto auto;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.con{

    position: relative;
    margin-top: 25px;
    width:420px;
    margin-left: -33%;
    height:auto;
    background-color: #EBF7E3;
    border-radius: 20px;

}
.con2{

    width: 50%;
    margin-top: -10%;
    margin-left: 50px;
    height: 450px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-size: 30px;
    text-align:center;
    padding: 33px 30px 30px 30px;
   
}

.fld{

    position: relative;
    margin-left: 20%;
    width: 60%;
    height: 100px;
    margin-top: 50px;
    
    }

.fld label{
    position: absolute;
    left: 3%;
    top: 10%;
    color: #66B032;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;

}

.fld input{

    position: absolute;
    left: 0%;
    top: 50%;
    border: 1px solid rgb(52, 35, 43);
    height: 50px;
    width:100%;
    text-align: center;
    color: #66B032;
    margin-top: -10px;
    border: 0px solid transparent;
    background-color: white;
    font-size: 17px;
    border-radius: 10px;

}

.fld p{
    position: absolute;
    top: 65%;
    left: 0%;
    color: rgb(242, 174, 28);
    font-size: 13px;
}

.container button{

margin-left: 26%;
margin-top: 60px;
width: 50%;
height: 60px;
color: white;
font-family: sans-serif;
font-weight: 600;
text-align: center;
border-radius: 20px;
cursor: pointer;
border: 1px solid transparent;
background-color:#66B032;

}

.container button:hover{
    background-color: #549129;
    color: white;
    border: 2px solid transparent;
}

.container h2{
    position: relative;
    top: 0%;
    left: 0%;
    color: #66B032;
}


.container h1{

    position: relative;
    margin-top: -300px;
    color: #66B032;

}

.con2 h1{
position: relative;
margin-top: 100px;
font-size: 37px;
color: #66B032;


}
.con2 p{
    position: relative;
    margin-top: 100px;
    font-size: 25px;
    font-style: italic;
    color: #66B032;
    
    
    }

@media only screen and (max-width: 900px) {
    

    .container{
        grid-template-columns: auto;
        padding: 10px 10px 10px 10px;
    }

    .con{
        margin-left: 5%;
        width:90%;
    }

    .con2{
        width: 79%;
        margin-left: 0%;
        height: fit-content;
        padding-bottom: 50px;
        margin-top: 0;
    }

    }